<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>Artech: NFT를 활용한 새로운 형태의 포트폴리오</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <style>
      #more {display: none;}
    </style>
    <style>
        * {margin:0;padding:0;}
        .section input[id*="slide"] {display:none;}
        .section .slidewrap {max-width:500px;margin:0 auto;}
        .section .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative;}
        .section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
        .section .slidelist > li > a {display:block;position:relative;}
        .section .slidelist > li > a img {width:100%;}
        .section .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
        
        /* input에 체크되면 슬라이드 효과 */
        .section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
        .section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
        .section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
    
        /* 페이징 */
        .slide-pagelist {text-align:center;padding:20px;}
        .slide-pagelist > li {display:inline-block;vertical-align:middle;}
        .slide-pagelist > li > label {display:block;padding:8px 30px;border-radius:30px;background:#ccc;margin:20px 10px;cursor:pointer;}
        .section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:#999;}
        .section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:#999;}
        .section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:#999;}
    </style>

    
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">보담</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" >홈</a>
              <li><a href="/authors">작가</a>
              <li ><a href="/art">작품</a>
                <li><a href="/NFT">NFT</a></li>
                  <li class="searchBox">
                    <input id="searchInput" class="searchInput" type="text" name="" placeholder="Search..." value="">
                            <i class="searchButton fa fa-search" onclick="javascript:btn()"></i>
                  </li>
                  <li id="Login"><a href="/login">Login</a></li>
                  <li style="display:none" id="MyPage"><a>MyPage</a></li>
                  <li style="display:none" id="Logout" ><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module">
          <div class="container">
            <div class="row">
                <div class="col-sm-6" style="float: left; width:50%; text-align:center">
                  <img src='<%=row.ipfs_link%>'>
                </div>
                <div class="row mb-20" style="float: right; width:50%;">
                  <%if(row.isNFT == 1){%>
                    <img class="product-title font-alt" src="/images/nft.png" style="width: 20px; height: 20px; float:left;">
                  <%}%>
                  <h1 class="product-title font-alt" style="float: left;"><%=row.art_name%></h1>
                    <br><br><br>
                    <a href="/author_portfolio?user=<%=row.username%>"><u><h5><%=row.username%></h5></u></a>
                  <div class="row mb-20">
                    <div class="col-sm-12"><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star-off"></i></span><a class="open-tab section-scroll" href="#reviews">-2customer reviews(beta)</a>
                    </div>
                  </div>
                  <div class="row mb-20">
                    <p>
                      <button class="btn btn-d btn-circle" type="submit" onclick="location.href='/art_detail?likeId=<%=row.art_id%>'"><i class="fa fa-heart"></i>좋아요 <%=row.like%>건</button>
                    </p>
                  </div>
                  <div class="row mb-20">
                    <div class="col-sm-12">
                      <div class="description">
                        <p><%=row.art_explain%></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row mt-70">
              <div class="col-sm-12">
                <ul class="nav nav-tabs font-alt" role="tablist">
                  <li class="active"><a href="#description" data-toggle="tab"><span class="icon-tools-2"></span>Description</a></li>
                  <li><a href="#data-sheet" data-toggle="tab"><span class="icon-tools-2"></span>Data sheet(beta)</a></li>
                  <li><a href="#reviews" data-toggle="tab"><span class="icon-tools-2"></span>Reviews (2)(beta)</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="description">
                    <p><%=row.art_explain%></p>
                  </div>
                  <div class="tab-pane" id="data-sheet">
                    <table class="table table-striped ds-table table-responsive">
                      <tbody>
                        <tr>
                          <th>Title</th>
                          <th>Info</th>
                        </tr>
                        <tr>
                          <td>Compositions</td>
                          <td>Jeans</td>
                        </tr>
                        <tr>
                          <td>Size</td>
                          <td>44, 46, 48</td>
                        </tr>
                        <tr>
                          <td>Color</td>
                          <td>Black</td>
                        </tr>
                        <tr>
                          <td>Brand</td>
                          <td>Somebrand</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="reviews">
                    <div class="comments reviews">
                      <div class="comment clearfix">
                        <div class="comment-avatar"><img src="" alt="avatar"/></div>
                        <div class="comment-content clearfix">
                          <div class="comment-author font-alt"><a href="#">John Doe</a></div>
                          <div class="comment-body">
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                          </div>
                          <div class="comment-meta font-alt">Today, 14:55 -<span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star-off"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="comment clearfix">
                        <div class="comment-avatar"><img src="" alt="avatar"/></div>
                        <div class="comment-content clearfix">
                          <div class="comment-author font-alt"><a href="#">Mark Stone</a></div>
                          <div class="comment-body">
                            <p>Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                          </div>
                          <div class="comment-meta font-alt">Today, 14:59 -<span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star"></i></span><span><i class="fa fa-star star-off"></i></span><span><i class="fa fa-star star-off"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-form mt-30">
                      <h4 class="comment-form-title font-alt">Add review</h4>
                      <form method="post">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label class="sr-only" for="name">Name</label>
                              <input class="form-control" id="name" type="text" name="name" placeholder="Name"/>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label class="sr-only" for="email">Name</label>
                              <input class="form-control" id="email" type="text" name="email" placeholder="E-mail"/>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <select class="form-control">
                                <option selected="true" disabled="">Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <div class="form-group">
                              <textarea class="form-control" id="" name="" rows="4" placeholder="Review"></textarea>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <button class="btn btn-round btn-d" type="submit">Submit Review</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module-small">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">작가의 다른 작품</h2>
              </div>
            </div>
            <div class="row multi-columns-row">
               <% for(var i = 0 ; i<data.length; i++) { %>
                  <% if(i < 4) { %>
               <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="shop-item">
                  <div class="shop-item-image"><img src='<%=data[i].ipfs_link%>' style="width:fit-content; height:250px;"/>
                    <div class="shop-item-detail"><a class="btn btn-round btn-b" href="/art_detail?viewId=<%=data[i].art_id%>">작품 상세보기</a></div>
                  </div>
                  <h4 class="shop-item-title font-alt"><a href="#"><%=data[i].art_name%></a></h4>
                </div>
              </div>
              <% if(i==3) { %>
                <div class="row multi-columns-row" id="more">
              <% }%>
              <% } else {%>              
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="shop-item">
                    <div class="shop-item-image"><img src='<%=data[i].ipfs_link%>'style="width:fit-content; height:250px;"/>
                      <div class="shop-item-detail"><a class="btn btn-round btn-b" href="/art_detail?viewId=<%=data[i].art_id%>">작품 상세보기</a></div>
                    </div>
                    <h4 class="shop-item-title font-alt"><a href="#"><%=data[i].art_name%></a></h4>
                  </div>
                </div>
              <% } %>

              <% } %>
            </div>
            </div>
            <% if(data.length > 4) { %>  
              <div style="float:right;">
                <button class="btn btn-d btn-circle" type="submit" onclick="view()" id="myBtn">더보기<i class="fa fa-plus"></i></button>
              </div> 
            <% } %>
          </div>
        </section>
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">보담</h5>
                  <p>대한민국 최고의 아트플랫폼, 그들의 가치를 보장해주다.</p>
                  <p>전화번호: 010-4339-8873</p> 
                  <p>이매일: rmrehd604@gmail.com</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">이달의 디자이너들</h5>
                  <ul class="icon-list">
                    <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                    <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                    <li>Andy on <a href="#">Eco bag Mockup</a></li>
                    <li>Jack on <a href="#">Bottle Mockup</a></li>
                    <li>Mark on <a href="#">Our trip to the Alps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">작품 유형</h5>
                  <ul class="icon-list">
                    <li>Image - 3</li>
                    <li>Video - 12</li>
                    <li>Document - 2</li>
                    <li>GIF - 2</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">이달의 작품들</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                        <div class="widget-posts-meta">15 February</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2022&nbsp;<a href="/">보담</a>  prototype</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/js/home/plugins.js"></script>
    <script src="/js/home/main.js"></script>
    <script>
      function view() {
        
        var moreImg = document.getElementById("more");
        var btnText = document.getElementById("myBtn");
       
        if (moreImg.style.display === "inline") {
          moreImg.style.display = "none";
          btnText.innerHTML = "더보기"; 
        } else {
          moreImg.style.display = "inline";
          btnText.innerHTML = "적게 보기"; 
        }
      }
      
      function btn(){ 
        searchInput = document.getElementById('searchInput');
        searchInput.value = ""
        alert('검색 버튼이 클릭되었습니다'); 
  
      }
      
    </script>
  </body>
</html>