<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>Artech: NFT를 활용한 새로운 형태의 포트폴리오</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">보담</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" >홈</a>
              <li><a href="/authors">작가</a>
              <li ><a href="/art">작품</a>
                <li><a href="/NFT">NFT</a></li>
                <li class="searchBox">
                  <input id="searchInput" class="searchInput" type="text" name="" placeholder="Search..." value="">
                          <i class="searchButton fa fa-search" onclick="javascript:btn()"></i>
                </li>
                <li id="Login"><a href="/login">Login</a></li>
                <li style="display:none" id="MyPage"><a>MyPage</a></li>
                <li style="display:none" id="Logout" ><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-60 blog-page-header" data-background="/images/wood.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt"><%=rows[0].username%>의 포트폴리오</h2>
             </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-md-3 sidebar">
                <div class="widget">
                    <h5 class="widget-title font-alt">하고 싶은 말</h5><%=rows[0].comment%>
                </div>
                <div class="widget">
                  <h5 class="widget-title font-alt">작가 이력</h5>
                  <ul class="widget-posts">
                    <% if (datas[0].record_id != null) { %>
                      <% for(let data of datas) { %>
                      <li class="clearfix">
                        <div class="widget-posts-body">
                          <div class="widget-posts-title"><%=data.record_host%> <%=data.record_subject%> <%=data.record_result%></div>
                          <div class="widget-posts-meta"><%=data.record_date.toDateString()%></div>
                        </div>
                      </li>
                      <% } %>
                    <% } %>
                    <% if (datas[0].record_id == null) { %>
                      <div class="widget-posts-title">아직 등록된 이력이 없습니다.</div>
                    <% } %>
                  </ul>
                </div>
              </div>

              <div class="col-sm-8 col-sm-offset-1">
                <div class="post">
                    <div class="post-header font-alt">
                        <h2 class="post-title"><%=rows[0].username%></a></h2>
                        <div class="post-meta"> <%=rows[0].birth.toDateString()%> </a> <%=rows[0].major%>
                        </div>
                    </div>
                      <div class="post-entry">
                        <p></p>
                      </div>
                
                <% if (rows[0].art_id != null) { %>
                  <div class="post-thumbnail"><img src="<%=rows[0].ipfs_link%>" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title">제일 샤라웃 받은 작품 </a></h2>
                    <div class="post-meta">By <%=rows[0].username%> | <%=rows[0].date_1.toDateString()%> | 좋아요 : <%=rows[0].like%> | <%=rows[0].major%>
                    </div>
                  </div>
                  <div class="post-entry">
                    <p><%=rows[0].art_explain%></p>
                  </div>
                <% } %>
                </div>
              </div>
               
               <!---->
                <div class="post #">
                  <ul class="nav nav-tabs font-alt" role="tablist">
                    <li class="active"><a href="#my_art" data-toggle="tab"><%=rows[0].username%>의 작품</a></li>
                    <li><a href="#my_nft" data-toggle="tab"><%=rows[0].username%>의 NFT</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="my_art">
                      <div><h2 class="post-title">작품들</a></h2> </div>
                      <br>
                      <div class="post-meta">By <%=rows[0].username%>| <%=rows[0].birth.toDateString()%> | 전체 조회수 : <%=view_sum%> | </a><%=rows[0].major%></div>
                      <section>
                        <div class="post-entry"> </div>
                        <div class="container">
                          <% if (rows[0].art_id != null) { %>
                            <% for(let row of rows) { %>
                              <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="shop-item" style="margin: 0;">
                                  <div class="shop-item-image"><img src='<%=row.ipfs_link%>' style="width:fit-content; height:250px;"/>
                                    <div class="shop-item-detail"><button class="btn btn-d btn-round" type="submit" onclick="location.href='/art_detail?viewId=<%=row.art_id%>'">작품 상세보기</button> 
                                    </div>
                                  </div>
                                </div>
                                <div class="shop-item-info">
                                  <div style="float:left; width:85%">
                                    <h4 class="shop-item-title font-alt"><%=row.art_name%></h4>
                                  </div>
                                  <div style="float:left; width:15%; margin:auto; line-height: 62.88px;">
                                    <i class="fa fa-heart"></i><span class="like_count">  <%=row.like%></span>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                          <% } %>
                          <% if (rows[0].art_id == null) { %>
                            <div><h5 class="post-title">아직 등록된 작품이 없습니다.</h5> </div>
                          <% } %>
                        </div>
                      </section> 
                    </div>
                
                    <div class="tab-pane" id="my_nft">
                      <div><h2 class="post-title">NFT</a></h2> </div>
                      <br>
                      <div class="post-meta">By <%=rows[0].username%>| <%=rows[0].birth.toDateString()%> | 전체 조회수 : <%=view_sum_nft%> | </a><%=rows[0].major%></div>
                      <section>
                        <div class="post-entry"> </div>
                        <div class="container">
                          <% if (nfts.length != 0) { %>
                            <% for(let nft of nfts) { %>
                              <div class="col-sm-6 col-md-3 col-lg-3">
                                <div class="shop-item" style="margin: 0;">
                                  <div class="shop-item-image"><img src='<%=nft.ipfs_link%>' style="width:fit-content; height:250px;"/>
                                    <div class="shop-item-detail"><button class="btn btn-d btn-round" type="submit" onclick="location.href='/art_detail?viewId=<%=nft.art_id%>'">작품 상세보기</button> 
                                    </div>
                                  </div>
                                </div>
                                <div class="shop-item-info">
                                  <div style="float:left; width:85%">
                                    <h4 class="shop-item-title font-alt"><%=nft.art_name%></h4>
                                  </div>
                                  <div style="float:left; width:15%; margin:auto; line-height: 62.88px;">
                                    <i class="fa fa-heart"></i><span class="like_count">  <%=nft.like%></span>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                          <% } %>
                          <% if (nfts.length == 0) { %>
                            <div><h5 class="post-title">아직 발행된 NFT가 없습니다.</h5> </div>
                          <% } %>
                        </div>
                      </section> 
                    </div>

                  </div>

                </div>
              
                  
            </div>
          </div>
        </section>
      
      </div>
      </section>
      <div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">보담</h5>
                <p>대한민국 최고의 아트플랫폼, 그들의 가치를 보장해주다.</p>
                <p>전화번호: 02-594-3293</p> 
                <p>이매일:<a href="#">artech@bodam.com</a></p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">이달의 디자이너들</h5>
                <ul class="icon-list">
                  <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                  <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                  <li>Andy on <a href="#">Eco bag Mockup</a></li>
                  <li>Jack on <a href="#">Bottle Mockup</a></li>
                  <li>Mark on <a href="#">Our trip to the Alps</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">작품 유형</h5>
                <ul class="icon-list">
                  <li><a href="#">Photography - 7</a></li>
                  <li><a href="#">Web Design - 3</a></li>
                  <li><a href="#">Illustration - 12</a></li>
                  <li><a href="#">Marketing - 1</a></li>
                  <li><a href="#">Wordpress - 16</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">이달의 작품들</h5>
                <ul class="widget-posts">
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                      <div class="widget-posts-meta">23 january</div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                      <div class="widget-posts-meta">15 February</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-d">
      <footer class="footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="copyright font-alt">&copy; 2017&nbsp;<a href="/">TitaN</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
              <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
  </main>
  <!—  
  JavaScripts
  =============================================
  —->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/wow/dist/wow.js"></script>
  <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="/lib/flexslider/jquery.flexslider.js"></script>
  <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/lib/smoothscroll.js"></script>
  <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="/js/home/plugins.js"></script>
  <script src="/js/home/main.js"></script>
</body>
</html>
