<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    
    <title>SMU Hackaton</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
    
    <!--Add toggle-->
    <link rel="stylesheet" type="text/css" href="css/toggle.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/playlist.css">

 </head>

 <body style="background-color: black;">
    	<!-- Preloader Start -->
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- Home & Menu Section Start -->
        <header id="home" class="home-section">
        
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                    
                      <!-- 여기가 로고랑 메뉴 사이 벌리기 클수록 많이 벌어짐-->
                        <div class="col-sm-6">
                            <div class="logo">
                                <a href="/">Rolling</a>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="navigation-menu">
                                <div class="navbar">
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav me-auto">
                                            <li class="nav-item"><a id="menu" style="color: #15FFFF" href="#home">Home <div class="ripple-wrapper"></div></a>
                                            </li>
                                            <li style="display: none;" id="mypage_menu"><a id="menu" style="color: #E0FB60;" href="/mylist">MyList</a>
                                            </li>
                                            <li id="login_menu" class="nav-item"><a id="menu" style="color: #E0FB60;" href="login">Login</a>
                                            </li>
                                            <li id="signup_menu"><a id="menu" style="color: #E0FB60;" href="register">Sign up</a>
                                            </li>
                                            <li style="display: none;" id="logout_menu"><a id="menu" style="color: #E0FB60;">Logout</a>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="toggle" hidden> 
                                                    <label for="toggle" class="toggleSwitch" style="border:2px solid #15FFFF;">
                                                        <span class="toggleButton"></span>
                                                    </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </header>
            
    
            <div class="slider">
                <ul class="cards">
                    <li><img src="https://sleeplessaliana1.files.wordpress.com/2022/05/big-naughty-ft.-meenoi-lovey-dovey.jpg"></li>
                    <li><img src="https://asproiu.com/wp-content/uploads/2021/08/Cover-The-Kid-LAROI-Justin-Bieber-STAY-Asproiu-Remix.jpg"></li>
                    <li><img src="https://i1.sndcdn.com/artworks-000113543484-4sveun-t500x500.jpg"></li>
                    <li><img src="https://img.joomcdn.net/f26d8fccb4c66abab02261430e3b85e5ef2130e7_1024_1024.jpeg"></li>
                    <li><img src="http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/080/933/154/80933154_1490341401069_1_600x600.JPG"></li>
                    <li><img src="https://images.genius.com/f70c31a33a59de418338ca6aa598fd58.600x593x1.jpg"></li>
                    <li><img src="https://m.media-amazon.com/images/I/51qzcvZgh1L._SY580_.jpg"></li>
                    <li><img src="https://c-fa.cdn.smule.com/rs-s25/arr/f9/51/cad287f5-618a-4056-9bee-01685b824e56_1024.jpg"></li>
                    <li><img src="https://cdnimg.melon.co.kr/cm2/album/images/106/09/232/10609232_20210517155130_500.jpg?eda48bcb5e6a2b2a9f40fc2a0463f47f"></li>
                    <li><img src="https://w.namu.la/s/f8d2a1317996e1a950ce27d98121f7d21dbc2d3da53995eb2a68df145280e1271f3c9f4ff8fa8fb25be8452d9543e5f442611d98a1480b08af700d4094989ab7a9476a0c5a4f797f7db2ca8457def51b7863961be165093ae1bfee713021e370"></li>
                  </ul>
    
                <div class="info_text">
                    <li class="title">TIME TRAVEL</li>
                    <li class="singer">빈지노(Beenzino)</li>
                </div>
                <div class="bullets">
                    <label class="left" for="slide1" id="left_btn"><img src="/img/left.png"></label>
                    <label class="play" for="slide2" id="play_btn"><img src="/img/play.png"></label>
                    <label class="right" for="slide3" id="right_btn"><img src="/img/right.png"></label>
                </div>
            </div>
    
            <!-- <div id="player"></div> 
            <div class="music_container" ng-app="movieListApp">
               
                   <div id = "movieListCtrlID" ng-controller="movieListController">    
                       <select id="movieList" ng-model="movie" ng-options="movie.movieTitle for movie in movies" ng-change="onSelectChange()"></select>                
                                     
                       <button id="previousBtn" ng-click="previous()">Previous</button>
                       <button id="playBtn" ng-click="play()">Play</button>
                       <button id="pauseBtn" ng-click="pause()">Pause</button>
                       <button id="forwardBtn" ng-click="forward()">Forward</button>
             
                   </div>          
            </div> -->

        <div class="playlist_box">    
            <h4 class="playlist_text">Play List</h6>
            <hr class="playlist_hr">
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
            <div class="child" style="width: 496px; height: 50px;"></div>
        </div>

    
    

    
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    
    <!-- All Javascript Plugins  -->
    <script src="js/home/plugins.js"></script>
    
    <!-- Main Javascript File  -->
    <script src="js/home/scripts.js"></script>
    <script src="js/home/main.js"></script>
  
    <script>

        var player = null;
        var options =
            {
                width: "0",              
                height: "0",             
                videoId: "<%=results[0].video_id%>",  
                playerVars: {
                    autoplay: 1,
                    controls: 0 ,
                    autohide: 1,
                    html5: 1
                },
                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange
                }
            };

        //iframe api
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        function onYouTubeIframeAPIReady() {
            player = new YT.Player( 'player', options );  
        }
        function onPlayerReady(event) {
            player.playVideo();
        }

        function onPlayerStateChange(event) {
            
            if(event.data == YT.PlayerState.ENDED) {

                var scope = angular.element(document.getElementById("movieListCtrlID")).scope();
                
                scope.$apply(function () {
                    scope.playNextMovie();
                }); 
            }
        }

        angular.module('movieListApp', [])
        .controller('movieListController', function ($scope) {

            var movieInfo;


            $scope.index = 0;
            $scope.isRepeat = false;
        
        //수정할 부분
            $scope.movies = [
                {"song_id": "<%=results[0].sing_id%>", "video_id": "<%=results[0].video_id%>", "movieTitle": "<%=results[0].title%>"},
                {"song_id": "<%=results[1].sing_id%>", "video_id": "<%=results[1].video_id%>", "movieTitle": "<%=results[1].title%>"},
                {"song_id": "<%=results[2].sing_id%>", "video_id": "<%=results[2].video_id%>", "movieTitle": "<%=results[2].title%>"},
                {"song_id": "<%=results[3].sing_id%>", "video_id": "<%=results[3].video_id%>", "movieTitle": "<%=results[3].title%>"},
                {"song_id": "<%=results[4].sing_id%>", "video_id": "<%=results[4].video_id%>", "movieTitle": "<%=results[4].title%>"},
                {"song_id": "<%=results[5].sing_id%>", "video_id": "<%=results[5].video_id%>", "movieTitle": "<%=results[5].title%>"},
                {"song_id": "<%=results[6].sing_id%>", "video_id": "<%=results[6].video_id%>", "movieTitle": "<%=results[6].title%>"},
                {"song_id": "<%=results[7].sing_id%>", "video_id": "<%=results[7].video_id%>", "movieTitle": "<%=results[7].title%>"},
                {"song_id": "<%=results[8].sing_id%>", "video_id": "<%=results[8].video_id%>", "movieTitle": "<%=results[8].title%>"},
                {"song_id": "<%=results[9].sing_id%>", "video_id": "<%=results[9].video_id%>", "movieTitle": "<%=results[9].title%>"},
                // {"song_id": "<%=results[10].sing_id%>", "video_id": "<%=results[10].video_id%>", "movieTitle": "<%=results[10].title%>"},
                // {"song_id": "<%=results[11].sing_id%>", "video_id": "<%=results[11].video_id%>", "movieTitle": "<%=results[11].title%>"},
                // {"song_id": "<%=results[12].sing_id%>", "video_id": "<%=results[12].video_id%>", "movieTitle": "<%=results[12].title%>"},
                // {"song_id": "<%=results[13].sing_id%>", "video_id": "<%=results[13].video_id%>", "movieTitle": "<%=results[13].title%>"},
                // {"song_id": "<%=results[14].sing_id%>", "video_id": "<%=results[14].video_id%>", "movieTitle": "<%=results[14].title%>"},
                // {"song_id": "<%=results[15].sing_id%>", "video_id": "<%=results[15].video_id%>", "movieTitle": "<%=results[15].title%>"},
                // {"song_id": "<%=results[16].sing_id%>", "video_id": "<%=results[16].video_id%>", "movieTitle": "<%=results[16].title%>"},
                // {"song_id": "<%=results[17].sing_id%>", "video_id": "<%=results[17].video_id%>", "movieTitle": "<%=results[17].title%>"},
                // {"song_id": "<%=results[18].sing_id%>", "video_id": "<%=results[18].video_id%>", "movieTitle": "<%=results[18].title%>"},
                // {"song_id": "<%=results[19].sing_id%>", "video_id": "<%=results[19].video_id%>", "movieTitle": "<%=results[19].title%>"},
                // {"song_id": "<%=results[20].sing_id%>", "video_id": "<%=results[20].video_id%>", "movieTitle": "<%=results[20].title%>"},
                // {"song_id": "<%=results[21].sing_id%>", "video_id": "<%=results[21].video_id%>", "movieTitle": "<%=results[21].title%>"},
                // {"song_id": "<%=results[22].sing_id%>", "video_id": "<%=results[22].video_id%>", "movieTitle": "<%=results[22].title%>"},
                // {"song_id": "<%=results[23].sing_id%>", "video_id": "<%=results[23].video_id%>", "movieTitle": "<%=results[23].title%>"},
                // {"song_id": "<%=results[24].sing_id%>", "video_id": "<%=results[24].video_id%>", "movieTitle": "<%=results[24].title%>"},
                // {"song_id": "<%=results[25].sing_id%>", "video_id": "<%=results[25].video_id%>", "movieTitle": "<%=results[25].title%>"},
                // {"song_id": "<%=results[26].sing_id%>", "video_id": "<%=results[26].video_id%>", "movieTitle": "<%=results[26].title%>"},
                // {"song_id": "<%=results[27].sing_id%>", "video_id": "<%=results[27].video_id%>", "movieTitle": "<%=results[27].title%>"},
                // {"song_id": "<%=results[28].sing_id%>", "video_id": "<%=results[28].video_id%>", "movieTitle": "<%=results[28].title%>"},
                // {"song_id": "<%=results[29].sing_id%>", "video_id": "<%=results[29].video_id%>", "movieTitle": "<%=results[29].title%>"},
            ];

            





            

            $scope.movie = $scope.movies[0];

            $scope.onSelectChange = function() {
                player.loadVideoById($scope.movie.video_id);
                $scope.index = $scope.movie.song_id;       
            };
        
            $scope.play = function() {
            player.playVideo();
            }
        
            $scope.pause = function() {
            player.pauseVideo();
            }

            $scope.previous = function() {
                if ($scope.index - 1 >= 0) {
                    $scope.index = $scope.index - 1; 
                    player.loadVideoById($scope.movies[$scope.index].video_id);
                    $scope.movie = $scope.movies[$scope.index];
        
                } else if ( ($scope.index - 1) < 0 && $scope.isRepeat) { 
                    $scope.index = $scope.movies.length - 1;
                    player.loadVideoById($scope.movies[$scope.index].video_id);
                    $scope.movie = $scope.movies[$scope.index];
                }
            };
            
            $scope.forward = function() {
                if ($scope.index + 1 < $scope.movies.length) {
                    $scope.index = $scope.index + 1;
                    player.loadVideoById($scope.movies[$scope.index].video_id);
                    $scope.movie = $scope.movies[$scope.index];
            
                } else if ( ( $scope.index + 1 ) == $scope.movies.length && $scope.isRepeat) {
                    $scope.index =  0;
                    player.loadVideoById($scope.movies[$scope.index].video_id);
                    $scope.movie = $scope.movies[$scope.index];
                }
            };

            
        });
    </script>
  
  </body>
 </html>