<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMU Hackathon</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/toggle.css">
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/playlist.css">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"rel="stylesheet'>
    <link rel="stylesheet" href="/css/slider.css">

    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugin.css">
</head>
<script>
    function list_click(video_id, t_id, title, singer, tags, ){
        console.log(video_id+"/");
        $("#current_img").attr("src", t_id);
        $('#music_title').text(title);
        $('#music_singer').text(singer);
        $('#music_tags').text(tags);
        //side_img(video_id);
        player.loadVideoById(video_id);
    }
</script>
<body style="background-color: black;">
    <!-- Home & Menu Section Start -->
    <header id="home" class="home-section">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                  <!-- 여기가 로고랑 메뉴 사이 벌리기 클수록 많이 벌어짐-->
                    <div class="col-sm-6">
                        <div class="logo">
                            <!--<a href="/">Rolling</a>-->
                            <a href="/"><img src="/img/logo.png" style="width: 50px; height:30px"></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav me-auto">
                                        <li class="nav-item"><a id="menu" style="color: #15FFFF" href="/">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li style="display: none;" id="mypage_menu"><a id="menu" style="color: #E0FB60;" href="mylist">MyList</a>
                                        </li>
                                        <li id="login_menu" class="nav-item"><a id="menu" style="color: #E0FB60;" href="login">Login</a>
                                        </li>
                                        <li id="signup_menu"><a id="menu" style="color: #E0FB60;" href="register">Sign up</a>
                                        </li>
                                        <li style="display: none;" id="logout_menu"><a id="menu" style="color: #E0FB60;">Logout</a>
                                        </li>
                                        <li>
                                            <!--<input type="checkbox" id="toggle" hidden> 
                                                <label for="toggle" class="toggleSwitch" style="border:2px solid #15FFFF">
                                                    <span class="toggleButton"></span>
                                                </label>-->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--start-->
    <div class="app">
        <div class="cardList">
            <!--<button class="cardList__btn btn btn--left">
                <div class="icon">
                    <svg>
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
            </button>-->
    
            <div class="cards__wrapper">
                <div class="card current--card">
                    <div class="card__image">
                        <img id="current_img" src="<%=results[0].thumbnail%>" alt="" />
                    </div>
                </div>

                <div class="card next--card">
                    <div class="card__image">
                        <img id="next_img" src="<%=results[1].thumbnail%>" alt="" />
                    </div>
                </div>
    
                <div class="card previous--card">
                    <div class="card__image">
                        <img id="prev_img" src="<%=results[9].thumbnail%>" alt="" />
                    </div>
                </div>
            </div>
    
            <!--<button class="cardList__btn btn btn--right">
                <div class="icon">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </button>-->
        </div>
        <div class="infoList">
            <div class="info__wrapper">
                <div class="info current--info" >
                    <!--<h1 id="current_title" class="text name"><%=results[0].title%></h1>
                    <h4 id="current_singer" class="text location"><%=results[0].singer%></h4>
                    <p id="current_tags" class="text description"><%=results[0].tags%></p>-->
                </div>
    
                <div class="info next--info">
                    <h1 id="next_title" class="text name"><%=results[1].title%></h1>
                    <h4 id="next_singer" class="text location"><%=results[1].singer%></h4>
                    <p id="next_tags" class="text description"><%=results[1].tags%></p>
                </div>
    
                <div class="info previous--info">
                    <h1 id="prev_title" class="text name"><%=results[9].title%></h1>
                    <h4 id="prev_singer" class="text location"><%=results[9].singer%></h4>
                    <p id="prev_tags" class="text description"><%=results[9].tags%></p>
                </div>
            </div>
        </div>
    
    
        <div class="app__bg">
            <div class="app__bg__image current--image">
                <img src="https://source.unsplash.com/Z8dtTatMVMw" alt="" />
            </div>
            <div class="app__bg__image next--image">
                <img src="https://source.unsplash.com/9dmycbFE7mQ" alt="" />
            </div>
            <div class="app__bg__image previous--image">
                <img src="https://source.unsplash.com/m7K4KzL5aQ8" alt="" />
            </div>
        </div>
        
    
    
    <div class="loading__wrapper">
        <div class="loader--text">Loading...</div>
        <div class="loader">
            <span></span>
        </div>
    </div>
    
    
    <svg class="icons" style="display: none;">
        <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
            <polyline points='328 112 184 256 328 400'
                         style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
        <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
            <polyline points='184 112 328 256 184 400'
                         style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
    </svg>

    <div style="width: 500px; z-index:200; margin-top:300px; margin-left:0px; position:absolute">
        <p class="a" id="music_title" style="font-size : 36px; color:#fff; font-weight:600; text-transform: uppercase; font-family: 'Montserrat';"><%=results[0].title%></p>
                <p class="b" id="music_singer" style="font-size : 28px; color:#fff; font-weight:600; text-transform: uppercase; font-family: 'Montserrat';"><%=results[0].singer%></p>
                <hr style="width: 30%;">
                <p class="c" id="music_tags" style="font-size : 19px; color:#fff; font-weight:600; text-transform: uppercase; font-family: 'Montserrat';"><%=results[0].tags%></p>
        </div>
    <div class="support" id = "movieListCtrlID" ng-controller="movieListController">   
        <div id="player"></div> 
        <div class="music_container" ng-app="movieListApp">
            <div class="abc" id = "movieListCtrlID" ng-controller="movieListController">
                
                   <button class="prev_btn" id="previousBtn" ng-click="prev()"><img src="/img/previous.png"></button>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <button id="pauseBtn" ng-click="pause()"><img src="/img/pause.png"></button>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <button id="playBtn" ng-click="play()"><img src="/img/play.png"></button>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <button class="next_btn" id="forwardBtn" ng-click="next()"><img src="/img/next.png"></button>
                 </div>
         
               </div>          
    </div>
</div>
<% for(let result of results) { %>
<script>var index=[0,1,2,3,4,5,6,7,8,9];</script>
<% } %>
    <div class="playlist_box">    
        <h4 class="playlist_text">Play List</h6>
        <hr class="playlist_hr">
        <% for(let result of results) { %>
            <script>
                var i=result.index;
                console.log(i);
            </script>
        <div class="child">
            <div style="float: left; display:inline-block; width:20%; height:50px;">
                <img src="<%=result.thumbnail%>" onclick="list_click('<%=result.video_id%>','<%=result.thumbnail%>','<%=result.title%>','<%=result.singer%>','<%=result.tags%>',index[i])">
            </div>
            <div style="float: right; display:inline-block; width:80%; height:50px;">
                <h4><%=result.title%></h4><h5><%=result.singer%></h5>
            </div>
            <script>
                i++;
            </script>
        </div>
        <hr style="color:rgba(9, 9, 9, 0.7);">
        <% } %>

    </div>
    <!--end-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/wow/dist/wow.js"></script>
<script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/lib/flexslider/jquery.flexslider.js"></script>
<script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>

<script src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js'></script>
<script  src="/js/home/slide.js"></script>

<!-- All Javascript Plugins  -->
<script src="js/home/plugins.js"></script>

<!-- Main Javascript File  -->
<script src="js/home/main.js"></script>

<script>
    var current_id = "<%=results[0].video_id%>";
    var current_index = 0;
    var current_thumb = "<%=results[0].thumbnail%>"
    var player = null;
    var options =
        {
            width: "0",              
            height: "0",             
            videoId: "<%=results[0].video_id%>",
            playerVars: {
                autoplay: 1,
                controls: 0 ,
                autohide: 1,
                html5: 1
            },
            events: {
                onReady: onPlayerReady,
                onStateChange: onPlayerStateChange
            }
        };
    //iframe api
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    function onYouTubeIframeAPIReady() {
        player = new YT.Player( 'player', options );  
    }
    function onPlayerReady(event) {
        player.playVideo();
    }
    function onPlayerStateChange(event) {
        
        if(event.data == YT.PlayerState.ENDED) {
            var scope = angular.element(document.getElementById("movieListCtrlID")).scope();
            
            scope.$apply(function () {
                scope.playNextMovie();
            }); 
        }
    }

    function side_img(index){
        scope.select(index);
            console.log(index);
    }

    angular.module('movieListApp', [])
    .controller('movieListController', function ($scope) {
        var movieInfo;
        $scope.index = 0;
        $scope.isRepeat = false;
    
    //수정할 부분
        $scope.movies = [
            {"song_id": 0, "video_id": "<%=results[0].video_id%>", "movieTitle": "<%=results[0].title%>", "song_singer": "<%=results[0].singer%>", "song_info": "<%=results[0].tags%>", "song_thumb": "<%=results[0].thumbnail%>"},
            {"song_id": 1, "video_id": "<%=results[1].video_id%>", "movieTitle": "<%=results[1].title%>", "song_singer": "<%=results[1].singer%>", "song_info": "<%=results[1].tags%>", "song_thumb": "<%=results[1].thumbnail%>"},
            {"song_id": 2, "video_id": "<%=results[2].video_id%>", "movieTitle": "<%=results[2].title%>", "song_singer": "<%=results[2].singer%>", "song_info": "<%=results[2].tags%>", "song_thumb": "<%=results[2].thumbnail%>"},
            {"song_id": 3, "video_id": "<%=results[3].video_id%>", "movieTitle": "<%=results[3].title%>", "song_singer": "<%=results[3].singer%>", "song_info": "<%=results[3].tags%>", "song_thumb": "<%=results[3].thumbnail%>"},
            {"song_id": 4, "video_id": "<%=results[4].video_id%>", "movieTitle": "<%=results[4].title%>", "song_singer": "<%=results[4].singer%>", "song_info": "<%=results[4].tags%>", "song_thumb": "<%=results[4].thumbnail%>"},
            {"song_id": 5, "video_id": "<%=results[5].video_id%>", "movieTitle": "<%=results[5].title%>", "song_singer": "<%=results[5].singer%>", "song_info": "<%=results[5].tags%>", "song_thumb": "<%=results[5].thumbnail%>"},
            {"song_id": 6, "video_id": "<%=results[6].video_id%>", "movieTitle": "<%=results[6].title%>", "song_singer": "<%=results[6].singer%>", "song_info": "<%=results[6].tags%>", "song_thumb": "<%=results[6].thumbnail%>"},
            {"song_id": 7, "video_id": "<%=results[7].video_id%>", "movieTitle": "<%=results[7].title%>", "song_singer": "<%=results[7].singer%>", "song_info": "<%=results[7].tags%>", "song_thumb": "<%=results[7].thumbnail%>"},
            {"song_id": 8, "video_id": "<%=results[8].video_id%>", "movieTitle": "<%=results[8].title%>", "song_singer": "<%=results[8].singer%>", "song_info": "<%=results[8].tags%>", "song_thumb": "<%=results[8].thumbnail%>"},
            {"song_id": 9, "video_id": "<%=results[9].video_id%>", "movieTitle": "<%=results[9].title%>", "song_singer": "<%=results[9].singer%>", "song_info": "<%=results[9].tags%>", "song_thumb": "<%=results[9].thumbnail%>"},
            {"song_id": 10, "video_id": "<%=results[10].video_id%>", "movieTitle": "<%=results[10].title%>", "song_singer": "<%=results[10].singer%>", "song_info": "<%=results[10].tags%>", "song_thumb": "<%=results[10].thumbnail%>"},
            
        ];
        
        
        $scope.movie = $scope.movies[0];
        $scope.onSelectChange = function() {
            player.loadVideoById($scope.movie.video_id);
            $scope.index = $scope.movie.song_id;
        };



        $scope.prev = function() {
            console.log("ori : "+current_index);
            if(current_index == 0){
                $scope.movie = $scope.movies[9];
                current_index = 9;
                console.log(current_index);
                
                $("#current_img").attr("src", "<%=results[9].thumbnail%>");
                $("#prev_img").attr("src", "<%=results[8].thumbnail%>");
                $("#next_img").attr("src", "<%=results[0].thumbnail%>");
                $('#current_title').text("<%=results[9].title%>");
                $('#music_title').text($scope.movies[9].movieTitle);
                $('#music_singer').text($scope.movies[9].singer);
                $('#music_tags').text($scope.movies[9].tags);
                $('#current_singer').text("<%=results[9].singer%>");
                $('#current_tags').text("<%=results[9].tags%>");
            }
            else{
                current_index = $scope.movie.song_id-1;
                $scope.movie = $scope.movies[current_index];
                console.log(current_index);
                var pr = $scope.movies[current_index-1];
                var nx = $scope.movies[current_index+1];
                if(current_index-1 < 0){
                    $("#prev_img").attr("src", $scope.movies[9].song_thumb);
                }
                else{
                    $("#prev_img").attr("src", $scope.movies[current_index-1].song_thumb);
                }
                $("#current_img").attr("src", $scope.movie.song_thumb);
                $("#next_img").attr("src", $scope.movies[current_index+1].song_thumb);
                $('#current_title').text($scope.movie.movieTitle);
                $('#music_title').text($scope.movies[current_index].movieTitle);
                $('#music_singer').text($scope.movies[current_index].singer);
                $('#music_tags').text($scope.movies[current_index].tags);
                $('#current_singer').text($scope.movie.song_singer);
                $('#current_tags').text($scope.movie.song_info);
            }
            player.loadVideoById($scope.movie.video_id);
        }

        $scope.next = function() {
            console.log("ori : "+current_index);
            if(current_index == 9){
                $scope.movie = $scope.movies[0];
                current_index = 0;
                console.log(current_index);
                console.log($scope.movie);
                $("#current_img").attr("src", "<%=results[0].thumbnail%>");
                $("#prev_img").attr("src", "<%=results[9].thumbnail%>");
                $("#next_img").attr("src", "<%=results[1].thumbnail%>");
                $('#current_title').text("<%=results[0].title%>");
                $('#current_singer').text("<%=results[0].singer%>");
                $('#music_title').text($scope.movies[0].movieTitle);
                $('#music_singer').text($scope.movies[0].singer);
                $('#music_tags').text($scope.movies[0].tags);
                $('#current_tags').text("<%=results[0].tags%>");
            }
            else {
                current_index = $scope.movie.song_id+1;
                $scope.movie = $scope.movies[current_index];
                console.log(current_index);
                console.log($scope.movie);
                var pr = $scope.movies[current_index-1];
                var nx = $scope.movies[current_index+1];
                if(current_index+1 > 9){
                    $("#next_img").attr("src", $scope.movies[0].song_thumb);
                }
                else{
                    $("#next_img").attr("src", $scope.movies[current_index+1].song_thumb);
                }
                $("#current_img").attr("src", $scope.movie.song_thumb);
                $("#prev_img").attr("src", $scope.movies[current_index-1].song_thumb);
                $('#current_title').text($scope.movie.movieTitle);
                $('#music_title').text($scope.movies[current_index].movieTitle);
                $('#music_singer').text($scope.movies[current_index].song_singer);
                $('#music_tags').text($scope.movies[current_index].song_info);
                $('#current_singer').text($scope.movie.song_singer);
                $('#current_tags').text($scope.movie.song_info);
            }
            player.loadVideoById($scope.movie.video_id);
        }

        $scope.select = function(id){
            var index=0;
            for(var i=0; i<10; i++){
                if(id==$scope.movies[i].video_id){
                    index=i;
                }
            }
            console.log(index);
        }
    
        $scope.play = function() {
        player.playVideo();
        }
    
        $scope.pause = function() {
        player.pauseVideo();
        }

        $scope.previous = function() {
            if ($scope.index - 1 >= 0) {
                $scope.index = $scope.index - 1; 
                player.loadVideoById($scope.movies[$scope.index].video_id);
                $scope.movie = $scope.movies[$scope.index];
    
            } else if ( ($scope.index - 1) < 0 && $scope.isRepeat) { 
                $scope.index = $scope.movies.length - 1;
                player.loadVideoById($scope.movies[$scope.index].video_id);
                $scope.movie = $scope.movies[$scope.index];
            }
        };
        
        $scope.forward = function() {
            if ($scope.index + 1 < $scope.movies.length) {
                $scope.index = $scope.index + 1;
                player.loadVideoById($scope.movies[$scope.index].video_id);
                $scope.movie = $scope.movies[$scope.index];
        
            } else if ( ( $scope.index + 1 ) == $scope.movies.length && $scope.isRepeat) {
                $scope.index =  0;
                player.loadVideoById($scope.movies[$scope.index].video_id);
                $scope.movie = $scope.movies[$scope.index];
            }
        };
        
    });
</script>

</body>
</html>